@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#output-container {
    text-align: center;
}

body {
    background-color: #004985;
}

.face-sad {
    color: #ff0000;
}

.face-meh {
    color: #ffff00;
}

.face-happy {
    color: #00ff00;
}

.appTitle{
    text-align: center !important;
    font-size: 7vh;
    display: block;
    padding: 3vh;
    background-color: #004985;
    color: #f8f9fa;
}

.fadeInDown {
    animation-duration: 1s;
}

.logo{
    padding: 1.2vh;
    text-align: right;
    cursor: pointer
}

img {
    width: 40vh;
}

.navbar-brand {
    margin-right: 0rem !important;
}
/* .navbar-brand.animated {
    -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
    -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
    -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
    -o-animation: 1600ms pulsate infinite alternate ease-in-out;
    animation: 1600ms pulsate infinite alternate ease-in-out;
  } */

@keyframes pulsate {
0% { transform: scale(1); }
50% { transform: scale(1.05); }
100% { transform: scale(1); }
}
@-webkit-keyframes pulsate {
0% { -webkit-transform: scale(1); }
50% { -webkit-transform: scale(1.05); }
100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
0% { -moz-transform: scale(1); }
50% { -moz-transform: scale(1.05); }
100% { -moz-transform: scale(1); }  
}
@-ms-keyframes pulsate {
0% { -ms-transform: scale(1); }
50% { -ms-transform: scale(1.05); }
100% { -ms-transform: scale(1); }  
}
@-o-keyframes pulsate {
0% { -o-transform: scale(1); }
50% { -o-transform: scale(1.05); }
100% { -o-transform: scale(1); }  
}

div.main {
    background: #0264d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #0264d6 1%,#1c2b5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: calc(99vh);
    /*width: 100%;*/
}

.owl-carousel .owl-stage-outer{
    text-align: center !important;
}

[data-notify="container"] {
    width: 60vh !important;
}

[data-notify="message"] {
    text-align: center;
    font-size: 3vh;
}

.error {
    margin-top: 10%;
    background-color: #004985;
    border-color: #004985;
    color: #f8f9fa;
}

.prestazione {
    width: 22%;
    height: 18vh;
    margin: 0.4% !important;
    text-align: center !important;
    justify-content: space-evenly;
    display: inline-flex;
    background-color: #f8f9fa;
}

.prestazione-icon {
    font-size: 9vh;
}

.center {
    margin: auto;
    color: #004985;
    font-size: 3.1vh;
  }

.prestazione-titolo {
    color: #004985;
    padding: 1.2vh;
    font-size: 2vw;
    text-align: center !important;
    vertical-align: middle;
}

.prestazione-descrizione {
    font-size: 2.2vh;
    text-align: center;
}

.prestazione:active {
    background-color: #ffff00;
}

.face {
    display: inline;
    font-size: 30%;
    margin: 1.2vw !important;
    align-items: center;
    border-color: #004985;
}

/* .face-sad {
    background-color: #ff0000;
}

.face-meh {
    background-color: #ffff00;
}

.face-happy {
    background-color: #00ff00;
} */

.page-footer {
    font-size: 15vh;
    bottom: 0;
    margin-top: 12vh;
    text-align: center;
}