<!-- LOGO -->
<div class="logo">
        <div class="appTitle font-weight-bold animated fadeInUp">
            <img class="navbar-brand active animated fadeInDown" src="img/logo-500x188.png" alt=""
            style="width: 62vh;">
        </div>
    </div>

<!-- Footer -->
<footer class="page-footer">
    <!-- Faces -->
    <div class="face face-happy animated css col-xs-6 col-sm-3">
        <i class="fas fa-smile-beam fa-8x animated bounceIn"></i>
    </div>
    
    <div class="face face-meh animated css col-xs-6 col-sm-3">
        <i class="fas fa-meh fa-8x animated bounceIn"></i>
    </div>
    
    <div class="face face-sad animated css col-xs-6 col-sm-3">
        <i class="fas fa-frown fa-8x animated bounceIn"></i>
    </div>
    
</footer>

<script>
    $(document).ready(function()
    {
        $('.face').click(function() {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            
            setTimeout(() => {
                $('.page-footer').hide();
                $('.appTitle').remove();
                $('#btnAd2hs').remove();
                
                $('#prestazioni').load('prestazioni.html');
            }, 100);
            
        });
    });
</script>