<div class="container-fluid">

    <div id="faces"></div>

    <div id="prestazioni"></div>

    <div id="thanks"></div>
</div>

<script src="js/app.js"></script>

<script>
    $(document).ready(function()
    {
        $('#faces').load('faces.html');
    });
</script>