<!-- LOGO -->
<div class="logo">
        <div class="appTitle font-weight-bold animated fadeIn">
                Seleziona il servizio
            <img class="navbar-brand active" src="img/logo-500x188.png" alt="" style="margin-left: 22%;">
        </div>
    </div>

<!-- CAROUSEL -->
<div class="carousel-container mt-2 mb-2 animated fadeIn">
    <div class="owl-carousel owl-theme">
        <div class="ml-2 mr-2" id="first-container">
        </div>

        <div class="ml-2 mr-2" id="second-container">
        </div>

        <div class="ml-2 mr-2" id="third-container">
        </div>

        <!-- <div class="ml-2 mr-2" id="fourth-container">
        </div>

        <div class="ml-2 mr-2" id="fifth-container">
        </div>

        <div class="ml-2 mr-2" id="sixth-container">
        </div> -->
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $('.owl-carousel').owlCarousel({
            autoplay: false,
            items: 1,
            smartSpeed: 450,
            nav: false,
            dots: true,
            loop: true
        });
        
        getCentri();

        $('.owl-item').click(function()
        {
            var clickedBtn;
            // if user click out of the choices, I don't go ahead
            setTimeout(() => {
                clickedBtn = $('.owl-item').children().children('.prestazione.active')[0];

                if(clickedBtn !== undefined) {
                    $('#logo').remove();
                    $('.appTitle').remove();
                    $('.carousel-container').hide();
                    $('#thanks').load('thanks.html');
                }
            }, 100);
        });
    });
</script>