<!-- MESSAGE -->
<br>
<div class="appTitle font-weight-bold animated fadeIn">
    <span class="far fa-smile-wink fa-6x"></span>
    <br><br>
    <p style="font-size: 48px !important;">Grazie</p>
</div>
    

<script>
    $(document).ready(function()
    {
        var selectedFace;
        // SELECTED FACE
        /*
            1 -> SAD
            2 -> MEH
            3 -> HAPPY
        */
        if($('.face.active').hasClass('face-sad')) {
            selectedFace = 1;
        }
        if($('.face.active').hasClass('face-meh')) {
            selectedFace = 2;
        }
        if($('.face.active').hasClass('face-happy')) {
            selectedFace = 3;
        }

        var now = new Date();
        var strDateTime = [[AddZero(now.getDate()), 
            AddZero(now.getMonth() + 1), 
            now.getFullYear()].join("/"), 
            [AddZero(now.getHours()), 
            AddZero(now.getMinutes())].join(":"), 
            now.getHours() >= 12 ? "PM" : "AM"].join(" ");

        var feedback = {
            id: null,
            idCentro: '',
            voto: '',
            data: strDateTime
        };

        var clickedBtn = $('.owl-item').children().children('.prestazione.active');
        feedback.idCentro = parseInt(clickedBtn.children('input').attr('id'));
        feedback.voto = selectedFace;

        //addValutazione(feedback);
        
        /* ADD FEEDBACK & REFRESH APP */
        setTimeout(() => {

            addValutazione(feedback);

            $('#home').load('home.html');

        }, 1000 * 4);
    });
</script>